---
layout: layout.liquid
title: Vexflow 5
---
<style>
    main {
        /* font-family: Arial, sans-serif; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        /* background-color: #f5f5f5; */
    }
    
    h1 {
        font-size: 3rem;
        text-align: center;
    }
</style>
<h1>{{ title }}</h1>
